# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Large Build Artifacts & Binaries
*.exe
*.dll
*.so
*.dylib
*.msi
*.zip
*.7z
*.rar
*.asar
*.map

# Folders to Exclude
node_modules/
**/node_modules/
dist/
**/dist/
temp-*/
**/dist_electron/
**/win-unpacked/
**/android/
**/ios/
out/
build/
.cache/
.vite/
